Source: nose2
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Brian May <bam@debian.org>,
           Pierre-Elliott Bécue <peb@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               help2man,
               python3-all,
               python3-coverage,
               python3-setuptools (>= 61.1),
               python3-sphinx,
               python3-sphinx-rtd-theme,
               python3-sphinx-issues,
Standards-Version: 4.6.2
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/nose-devs/nose2
Vcs-Git: https://salsa.debian.org/python-team/packages/nose2.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/nose2

Package: python-nose2-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Description: Next generation of nicer testing for Python2/3 (documentation)
 Nose2 is testing library aimed at being compatible with unittest and
 providing additional features, such as timed tests, better testing for
 exceptions. It also provides fixture methods at the package, module, class or
 test case level, depending on the developer's needs.
 .
 At an extended level, nose2 also provides a lot of builtin plugins to help
 with specific needs, including tests coverage, profiling, or doctests.
 .
 Nose2 is based on the Nose testsuite, which is no longer developed. It
 provides a better plugin API and supports Python2 and Python3 from the same
 codebase.
 .
 This package provides the sphinx-generated documentation of nose2.

Package: python3-nose2
Architecture: all
Depends: python3-pkg-resources,
         ${misc:Depends},
         ${python3:Depends}
Recommends: python3-coverage
Suggests: python-nose2-doc
Description: Next generation of nicer testing for Python3
 Nose2 is testing library aimed at being compatible with unittest and
 providing additional features, such as timed tests, better testing for
 exceptions. It also provides fixture methods at the package, module, class or
 test case level, depending on the developer's needs.
 .
 At an extended level, nose2 also provides a lot of builtin plugins to help
 with specific needs, including tests coverage, profiling, or doctests.
 .
 Nose2 is based on the Nose testsuite, which is no longer developed. It
 provides a better plugin API and supports Python2 and Python3 from the same
 codebase.
 .
 This package provides the python3 version of nose2.
